name: Scala CI

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
      - name: Set up Fuseki
        uses: addnab/docker-run-action@v3
        with:
          image: atomgraph/fuseki
          options: -p 3030:3030 --mem /example
      - name: Run tests
        run: sbt test
