name: Scala CI

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Set up Fuseki
        run: echo root:root > confFuseki.txt && docker run --rm -d -v /home/runner/work/dmaog/dmaog:/dmaog/. -p 3030:3030 atomgraph/fuseki --passwd=/dmaog/confFuseki.txt --mem=/example
      - name: Run tests
        run: sbt "+ test"
